<div class='container'>
    <div class='row'>
        <div class='col-md-12'>
            <h2>
                Welcome {{user.name}}, please pick your Ad from our wonderful selection...
            </h2>
        </div>
    </div>
    <div class='row' id="pricingRulesMsg">
        <div class='col-md-12' *ngFor="let rule of pricingRules">
            <span>{{rule}}</span>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-4' *ngFor="let product of products">
            <div class='panel panel-primary'>
                <div class='panel-heading'>
                    {{product.name}}
                </div>
                <div class='panel-body'>
                    <div class='row'>
                        <div class='col-md-12'>
                            <div class='row'>
                                <div class='col-md-2'>Price:</div>
                                <div class='col-md-7'>${{product.price}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='panel-footer'>
                    <button type="button"
                            class="btn btn-primary"
                            (click)="addProductToCart(product)">Add 1 item</button>
                    <button type="button"
                            class="btn btn-secondary"
                            *ngIf="product.productInCart"
                            (click)="removeProductFromCart(product)">Remove 1 item</button>
                </div>
            </div>
        </div>
    </div>
    <app-shopping-cart></app-shopping-cart>
</div>
